{% extends 'rooms/layout.html' %} {% block body %}
<section class="about-header-section">
    <div class="text-center mt-4">
        <p id='about_us' class="header">Rooms Available</p>
    </div>
  {% load static %}
    <div class="container">
        <table class="table table-bordered text-center table-striped">
            <thead class="text-light" style="background-color: #192e80;">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Room number</th>
                    <th scope="col">Room type</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody class="text-center">
                {% for room in rooms %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{room.room_number}}</td>
                    <td>{{room.room_type}}</td>
                    {% if room.status == True %}
                        <td><i class="fa-solid fa-check" style="color: green;"></i></td>
                    {% elif room.status == False %}
                        <td><i class="fa-solid fa-xmark" style="color: red;"></i></td>
                    {% endif %}
                </tr>
                {% empty %}
                    <tr>
                        <td colspan="4"><i>No Data</i></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}