{% extends 'manager/layout.html' %}
{% block body %}
<div class="container-fluid">
  <h1 class="bold-text text-center mt-4">
    Manager
  </h1>
  <section class="manager-profile border border-dark rounded m-4">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center py-3">
        <h2 class="h5 mb-0">
          <i class="fa-solid fa-user-tie fa-2x"></i>
          <span class="h4 ml-2">Profile</span>
        </h2>
      </div>
      <table class="table table-borderless">
        <tr>
          <td colspan="2">Name:</td>
          <td class="text-end">{{user_info.user_id.first_name}} {{user_info.user_id.last_name}}</td>
        </tr>
        <tr>
          <td colspan="2">Contact:</td>
          <td class="text-end">{{user_info.phone_number}}</td>
        </tr>
        <tr>
          <td colspan="2">Job position:</td>
          <td class="text-end">{{user_info.role_id.role_name}}</td>
        </tr>
        <tr>
          <td colspan="2">Address:</td>
          <td class="text-end">{{ user_info.address }}, {{ user_info.street }}, {{ user_info.state }}, {{ user_info.city }}, {{ user_info.country }}, {{ user_info.zip_code }} </td>
        </tr>
      </table>
      <div class="d-flex justify-content-end">
        <a class="btn btn-dark text-white mx-1" href="{% url 'users:edit_profile' %}">
          <i class="fa-solid fa-pen-to-square"></i>
          Edit
        </a>
        <a class="btn btn-info text-white mx-1" href="/chat/user/1">
          <i class="fa-solid fa-comment"></i>
          Chat
        </a>
      </div>
    </div>
  </section>
  <section class="manager-stat d-flex justify-content-around">
    <div onclick="location.href='rooms_available';" style="cursor: pointer;" class="col-4 available-box">
      <h3><i class="fa-solid fa-bookmark fa-1x"></i> Available</h3>
      <span>{{rooms_a.count}}</span>
    </div>
    <div onclick="location.href='rooms_reserve';" style="cursor: pointer;" class="col-4 reserve-box mx-4">
      <div>
        <h3>
          <i class="fa-solid fa-list fa-1x"></i>
          Reserve
        </h3>
        <span>5</span>
      </div>
    </div>
    <div onclick="location.href='rooms_unavailable';" style="cursor: pointer;" class="col-4 unavailable-box">
      <h3>
        <i class="fa-solid fa-square-xmark fa-1x"></i>
        Unavailable
      </h3>
      <span>{{rooms_b.count}}</span>
    </div>
  </section>
  <section class="manager-log">
    <!-- Manger Log -->
  </section>
  <section class="listing">
    <div class="d-flex flex-column my-3 p-1">
      <div onclick="location.href='employee_list';" style="cursor: pointer;" class="w-100 h-50 employee-list-box">
        <h3 class="ml-4">
          <i class="fa-solid fa-users-gear fa-2x"></i></i></i>&nbsp;&nbsp;
          Employee list
        </h3>
      </div>
      <div onclick="location.href='occupant_list';" style="cursor: pointer;" class="w-100 h-50 my-4 occupant-list-box">
        <h3 class="ml-4">
          <i class="fa-solid fa-users fa-2x"></i></i>&nbsp;&nbsp;
          Occupant list
        </h3>
      </div>
      <div onclick="location.href='report_logs';" style="cursor: pointer;" class="w-100 h-50 report-log-box">
        <h3 class="ml-4">
          <i class="fa-solid fa-bullhorn fa-2x"></i>&nbsp;&nbsp;
          Report logs
        </h3>
      </div>
    </div>
  </section>
</div>
{% endblock %}