{% extends 'rooms/layout.html' %} {% block body %}
<section class="about-header-section">
    <div class="text-center mt-4">
        <p id='about_us' class="header">Occupant</p>
    </div>
  {% load static %}
    <div class="container">
        <table class="table table-bordered text-center table-striped">
            <thead class="text-light" style="background-color: #192e80;">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">User ID</th>
                    <th scope="col">Room Number</th>
                    <th scope="col">Role</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in user_info %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{user.user_id}}</td>
                    <td>{{user.room_id.room_number}}</td>
                    <td>{{user.role_id.role_name}}</td>
                    <td colspan="2">
                        <a class="btn btn-dark text-white" href="{% url 'manager:edit_profile' user.user_id.id %}">Edit</a>
                        <a class="btn btn-danger text-white" href="{% url 'manager:delete_user' user.user_id.id %}">Delete</a>
                    </td>                
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}