{% extends 'rooms/layout.html' %} {% block body %}
<section class="about-header-section">
    <div class="text-center mt-4">
        <p id='about_us' class="header">Rooms Reserved</p>
    </div>
  {% load static %}
    <div class="container">
        <table class="table table-bordered text-center table-striped">
            <thead class="text-light" style="background-color: #192e80;">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ROOM Number</th>
                    <th scope="col">ROOM Type</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}