{% extends 'rooms/layout.html' %} {% block body %}
<section class="about-header-section">
    <div class="text-center mt-4">
        <p id='about_us' class="header">Rooms Reserved</p>
    </div>
  {% load static %}
    <div class="container">
        <table class="table table-bordered text-center table-striped">
            <thead class="text-light" style="background-color: #192e80;">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Room type</th>
                    <th scope="col">Due date</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for room in rooms %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{room.user_id.username}}</td>
                    <td>{{room.room_type}}</td>
                    <td>{{room.due_date}}</td>
                    <td>{{room.status_type}}</td>
                </tr>
                {% empty %}
                    <tr>
                        <td colspan="4"><i>No Data</i></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}