{% extends 'rooms/layout.html' %} {% block body %}
<div class="container bg-chat">
  <div class="type-msg-card">
    <div class="chat-history">
      <div class="destination-text text">
        <i class="fa-solid fa-user-gear"></i>
        สวัสดีครับผม
      </div>
      <div class="sender-text text">
        สวัสดีครับ
        <i class="fa-solid fa-user"></i>
      </div>
      <div class="sender-text text">
        พอดีต้องการสอบถามเรื่องการเช่าหอพัก
        <i class="fa-solid fa-user"></i>
      </div>
      <div class="destination-text text">
        <i class="fa-solid fa-user-gear"></i>
        ต้องการสอบถามไหนเรื่องไหนครับ
      </div>
      <div class="sender-text text">
        มีค่ามัดจำในการเช่าหอพักไหมครับ
        <i class="fa-solid fa-user"></i>
      </div>

    </div>
    <div class="section-chat input-group pd-0">
      <input type="text" class="form-control" id="msgText" placeholder="Type message    . . ." aria-label="Recipient's username" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button" id="sendMsg">
          Send
          <i class="fa-solid fa-paper-plane"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<script>
  $("#sendMsg").click(function() {
    const text = $("#msgText").val();
    $(".chat-history").append(`
    <div class="sender-text text">
        ${text}
        <i class="fa-solid fa-user"></i>
    </div>
    `);
    $("#msgText").val("");
  });
</script>
{% endblock %}