.bg-chat {
    background-color: lightgray;
    border: 1px solid darkgray;
    border-radius: 10px;
    border-bottom: 0px;
    height: 80vh;
    position: relative;
}
.type-msg-card {
    /* background-color: bisque; */
    padding: 10px;
}
.section-chat {
    position: absolute;
    bottom: 0;
    /* width: max-content; */
    left:0;
    right: 0;
}
/* */