{% extends 'rooms/layout.html' %} {% block body %}
<section class="about-header-section">
  <div class="text-center mt-4">
    <p class="header">About</p>
    <div class="description">
      <p>
        <span class="text-bold">Dormtown</span> is a dormitory and website for
        everyone
      </p>
      <p>so we have 3 cores to provide occupant and employee</p>
      <p class="text-bold">Friendly | Security | Convinience</p>
    </div>
  </div>
  {% load static %}
  <img class="image-center image-fluid" width="1000px" src="{% static 'rooms/image.png' %}" />
</section>
<section class="about-service-section s">
  <span class="text-bold">SERVICE <span class="line"></span></span>
  <div class="container-fluid">
    <p class="header-2">Dormitory Class S</p>
    <p class="header-2">best quality for 2 people</p>
    <div class="row">
      <div class="col-9">
        <img src="{% static 'rooms/room-s.jpeg' %}" class="image image-fluid" />
      </div>
      <div class="col-3 bg-main banner position-relative">
        <p class="sub">TV & Fridge</p>
        <p class="sub">Wardrobe</p>
        <p class="sub">Water heater</p>
        <p class="sub">Facility</p>
        <h2 class="text-white text-center score-text">
          2
        </h2>
        <p class="sub">Room service</p>
        <h2 class="text-white text-center score-text">
          6,500
        </h2>
        <p class="sub">Rent cost per month</p>
      </div>
    </div>
  </div>
</section>
<section class="about-service-section a">
  <div class="container-fluid">
    <p class="header-2">Dormitory Class S</p>
    <p class="header-2">best quality for 2 people</p>
    <div class="row">
      <div class="col-9">
        <img src="{% static 'rooms/room-a.jpeg' %}" class="image image-fluid" />
      </div>
      <div class="col-3 bg-main banner position-relative">
        <p class="sub">Wardrobe</p>
        <p class="sub">Water heater</p>
        <p class="sub">Facility</p>
        <h2 class="text-white text-center score-text">
          1
        </h2>
        <p class="sub">Room service</p>
        <h2 class="text-white text-center score-text">
          4,500
        </h2>
        <p class="sub">Rent cost per month</p>
      </div>
    </div>
  </div>
</section>
<!-- <section class="our-team-section">
  <span class="text-bold mt-2">Our teams <span class="line"></span></span>
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <div class="card-profile">
          <p>
            <img src="{% static 'rooms/bored-ape.jpeg' %}" class="rounded-circle profile-image" />
            <span class="text-bold ml-2">Pongsakorn Parsoppornpiboon 6310682718</span>
          </p>


        </div>
      </div>
      <div class="col-6">

      </div>
    </div>
  </div>
</section> -->
{% endblock %}