{% extends 'rooms/layout.html' %} {% block body %}
<section class="about-header-section">
  <div class="text-center mt-4">
    <p id='about_us' class="header">About</p>
    <div class="description">
      <p>
        <span class="text-bold">Dormtown</span> is a dormitory and website for
        everyone
      </p>
      <p>so we have 3 cores to provide occupant and employee</p>
      <p class="text-bold">Friendly | Security | Convinience</p>
    </div>
  </div>
  {% load static %}
  <img class="image-center image-fluid" width="1000px" src="{% static 'rooms/image.png' %}" />
</section>
<section class="about-service-section s" id="service-section">
  <span id='service' class="text-bold">SERVICE <span class="line"></span></span>
  <div class="container-fluid">
    <p class="header-2">Dormitory Class S</p>
    <p class="header-2">best quality for 2 people</p>
    <div class="row">
      <div class="col-9">
        <img src="{% static 'rooms/room-s.jpeg' %}" class="image image-fluid" />
      </div>
      <div class="col-3 bg-main banner position-relative">
        <p class="sub">TV & Fridge</p>
        <p class="sub">Wardrobe</p>
        <p class="sub">Water heater</p>
        <p class="sub">Facility</p>
        <h2 class="text-white text-center score-text">
          2
        </h2>
        <p class="sub">Room service</p>
        <h2 class="text-white text-center score-text">
          6,500
        </h2>
        <p class="sub">Rent cost per month</p>
      </div>
    </div>
  </div>
</section>
<section class="about-service-section a">
  <div class="container-fluid">
    <p class="header-2">Dormitory Class A</p>
    <p class="header-2">best quality for 2 people</p>
    <div class="row">
      <div class="col-9">
        <img src="{% static 'rooms/room-a.jpeg' %}" class="image image-fluid" />
      </div>
      <div class="col-3 bg-main banner position-relative">
        <p class="sub">Wardrobe</p>
        <p class="sub">Water heater</p>
        <p class="sub">Facility</p>
        <h2 class="text-white text-center score-text">
          1
        </h2>
        <p class="sub">Room service</p>
        <h2 class="text-white text-center score-text">
          4,500
        </h2>
        <p class="sub">Rent cost per month</p>
      </div>
    </div>
  </div>
</section>
<section class="our-teams-section mt-4" id="ourteams-section">
  <div class="container-fluid">
    <div class="d-flex justify-content-around text-center">
      <div class="card" style="width: 18rem; border-radius: 30px;">
        <img src="{% static 'rooms/avatar_female.png' %}" class="card-img-top" alt="...">
        <div class="card-body text-light" style="background-color: #192e80;">
          <h5 class="card-title">Manager</h5>
          <p class="card-text">Natnicha Faksang</p>
        </div>
        <ul class="list-group list-group-flush" style="background-color: #192e80;" >
          <li style="border-color: white;"class="text-white list-group-item"><i class="fa-solid fa-circle-info"></i>&nbsp;&nbsp;6310682635</li>
          <li style="border-color: white;"class="text-white list-group-item"><i class="fa-solid fa-address-book"></i>&nbsp;&nbsp;0644153591</li>
        </ul>
      </div>
      <div class="card" style="width: 18rem; border-radius: 30px;">
        <img src="{% static 'rooms/ter.png' %}" class="card-img-top" alt="...">        <div class="card-body text-light" style="background-color: #192e80;">
          <h5 class="card-title">Manager</h5>
          <p class="card-text">Pongsakorn Parsoppornpiboon</p>
        </div>
        <ul class="list-group list-group-flush" style="background-color: #192e80;" >
          <li style="border-color: white;"class="text-white list-group-item"><i class="fa-solid fa-circle-info"></i>&nbsp;&nbsp;6310682718</li>
          <li style="border-color: white;"class="text-white list-group-item"><i class="fa-solid fa-address-book"></i>&nbsp;&nbsp;0635989954</li>
        </ul>
      </div>
      <div class="card" style="width: 18rem; border-radius: 30px;">
        <img src="{% static 'rooms/avatar_male.png' %}" class="card-img-top" alt="...">
        <div class="card-body text-light" style="background-color: #192e80;">
          <h5 class="card-title">Manager</h5>
          <p class="card-text">Thanapat Pongpipat</p>
        </div>
        <ul class="list-group list-group-flush" style="background-color: #192e80;" >
          <li style="border-color: white;"class="text-white list-group-item"><i class="fa-solid fa-circle-info"></i>&nbsp;&nbsp;6310682734</li>
          <li style="border-color: white;"class="text-white list-group-item"><i class="fa-solid fa-address-book"></i>&nbsp;&nbsp;0963711479</li>
        </ul>
      </div>
      <div class="card" style="width: 18rem; border-radius: 30px;">
        <img src="{% static 'rooms/avatar_male.png' %}" class="card-img-top" alt="...">
        <div class="card-body text-light" style="background-color: #192e80;">
          <h5 class="card-title">Manager</h5>
          <p class="card-text">Kantapat Kowadisai</p>
        </div>
        <ul class="list-group list-group-flush" style="background-color: #192e80;" >
          <li style="border-color: white;"class="text-white list-group-item"><i class="fa-solid fa-circle-info"></i>&nbsp;&nbsp;6310682783</li>
          <li style="border-color: white;"class="text-white list-group-item"><i class="fa-solid fa-address-book"></i>&nbsp;&nbsp;0897827356</li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %}