{% extends 'rooms/layout.html' %} {% block body %}
<section class="about-header-section">
  <div class="text-center mt-4">
    <p class="header">About</p>
    <div class="description">
      <p>
        <span class="text-bold">Dormtown</span> is a dormitory and website for
        everyone
      </p>
      <p>so we have 3 cores to provide occupant and employee</p>
      <p class="text-bold">Friendly | Security | Convinience</p>
    </div>
  </div>
  {% load static %}
  <img class="image-center" src="{% static 'rooms/dormitory.jpg' %}" />
</section>
<section class="about-service-section">
  <span class="text-bold">SERVICE <span class="line"></span></span>
</section>
{% endblock %}
