{% extends 'rooms/layout.html' %}
{% block body %}

<div class="text-center mt-4">
    <h1>{{report.problem_type_id}}</h1>
</div>

<!--PROFILE DETAIL--> 
<div class="container" >
    <div class="py-2"></div>
    <div class="row">
        <div class="col card">
            <div class="card-body">
                <table class="table table-bordered text-center table-striped">
                        <tr>
                            <td colspan="1">Room:</td>
                            <td class="text-end">{{reporter_room}}</td>
                        </tr>
                        <tr>
                            <td colspan="1">Contact:</td>
                            <td class="text-end">{{reporter_contact}}</td>
                        </tr>
                        <tr>
                            <td colspan="1">Due date:</td>
                            <td class="text-end" >{{due_date}}</td>
                        </tr>
                        <tr>
                            <td colspan="1">Responsible person:</td>
                            <td class="text-end">{{assign_to}}</td>
                        </tr>
                        <tr>
                            <td align="left"><a class="btn btn-secondary text-white" href="{% url 'employee:index' %}"> <i class="fa-solid fa-backward"></i> Back</a></td>
                            <td align="right"><a class="btn btn-success text-white" href="{% url 'employee:get_assign' report.id %}"> <i class="fa-brands fa-get-pocket"></i> Assign</a></td>
                        </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}