{% extends 'employee/layout.html' %}
{% block body %}

{% if role_name == "Housekeeper" %}
<div class="text-center mt-4">
    <h1>Housekeeper</h1>
</div>
{% elif role_name == "Technician" %}
<div class="text-center mt-4">
    <h1>Technician</h1>
</div>
{% else %}
<div class="text-center mt-4">
  <h1>Who am i?</h1>
</div>
{% endif %}


<!--PROFILE DETAIL-->
<div class="d-flex justify-content-around">
  <div class="container">
    <div class="py-3"></div>
    <div class="row">
        <div class="col-lg-10 card" style="margin: auto">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center py-3">
                    <h2 class="h5 mb-0">Profile</h2>
                </div>
                <table class="table table-borderless">
                    <tr>
                        <td colspan="2">Name:</td>
                        <td class="text-end">{{ user.first_name }} {{ user.last_name }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">Contact:</td>
                        <td class="text-end">{{ user_info.phone_number }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">Address:</td>
                        <td class="text-end">{{ user_info.address }}, {{ user_info.street }}, {{ user_info.state }}, {{ user_info.city }}, {{ user_info.country }}, {{ user_info.zip_code }} </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="text-end" align="right">
                          <a class="btn btn-dark text-white" href="{% url 'employee:edit_profile' %}"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
  </div>    


  <!--Working Small Detail-->
  <div class="container">
    <div class="py-3"></div>
    <div class="row">
      <div class="col card">
        <div class="card-body">
          <table class="table table-borderless">
            {% if role_name == "Housekeeper" %}
              <tr>
                <td colspan="2">Cleaning Service:</td>
                <td>{{clean}}</td>
              </tr>
            {% endif %}
            {% if role_name == "Technician" %}
              <tr>
                <td colspan="2">Fix electric equipment:</td>
                <td>{{fix}}</td>
              </tr>
              <tr>
                <td colspan="2">Irrigation problem:</td>
                <td>{{iri}}</td>
              </tr>
            {% endif %}
            <tr>
              <td colspan="2">Move out:</td>
              <td>{{move}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!--My job-->
<dev class="container">
  <div class="py-3"></div>
  <div class="col card"></div>
  <div class="py-2"></div>
  <div class="d-flex justify-content-between align-items-center py-3">
    <h2 class="h5 mb-0">My Job</h2>

  </div>
  <table class="table table-bordered text-center">
    <thead class="text-light" style="background-color: #192e80;">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Room</th>
        <th scope="col">Due date</th>
        <th scope="col">Action</th>
      </tr>
      <tbody>
        {% for i in report_a %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{i.problem_type_id}}</td>
              {% for key,value in rooms_reporter_a.items %}
                {% if key == i.from_user_id %}
                  <td>{{value}}</td>
              {% endif %}
              {% endfor %} 
            <td>{{i.due_date}}</td>
            <td><a class="btn btn-success text-white" href="{% url 'employee:submit' i.id %}"> <i class="fa-solid fa-square-check"></i> </a></td>
          </tr>
        {% endfor %}
      </tbody>
    </thead>      
  </table>
</dev>
<!--All of job-->
<dev class="container">
  <div class="py-3"></div>
  <div class="col card"></div>
  <div class="py-2"></div>
  <div class="d-flex justify-content-between align-items-center py-3">
    <h2 class="h5 mb-0">All of Job</h2>
  </div>
  <table class="table table-bordered text-center">
    <thead class="text-light" style="background-color: #192e80;">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Room</th>
        <th scope="col">Due date</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for i in report_na %}
          <tr>
            <td>{{i.problem_type_id}}</td>
            {% for key,value in rooms_reporter_na.items %}
              {% if key == i.from_user_id %}
                <td>{{value}}</td>
              {% endif %}
              {% endfor %} 
            <td>{{i.due_date}}</td>
            <td><a class="btn btn-success text-white" href="{% url 'employee:assign' i.id %}"> <i class="fa-brands fa-get-pocket"></i> </a></td>
          </tr>
        {% endfor %}
    </tbody>
  </table>
</dev>
{% endblock %}