{% extends 'rooms/layout.html' %}
{% block body %}

<div class="text-center mt-4">
  <p id='about_us' class="header">List of Reporting</p>
  </div>

<div class="container">
    <div class="py-3"></div>
    <div class="col card"></div>
    <div class="py-2"></div>
    <table class="table table-bordered text-center table-striped">
      <thead class="text-light" style="background-color: #192e80;">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Room</th>
          <th scope="col">Due date</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        {% for i in all_report %}
            <tr>
                <td>{{i.problem_type_id}}</td>
                {% for key,value in all_room.items %}
                {% if key == i.from_user_id %}
                    <td>{{value}}</td>
                {% endif %}
                {% endfor %} 
                <td>{{i.due_date}}</td>
                {% if i.status_id.status_name == "Doing" %}
                    <td style="color:#222bdd">{{i.status_id}}</td>
                {% elif i.status_id.status_name == "Done" %}
                    <td style="color:#23aa17">{{i.status_id}}</td>
                {% else %}
                    <td style="color:#f0750f">{{i.status_id}}</td>
                {% endif %}
            </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}