{% extends 'users/layout.html' %} {% block body %}
<section class="about-header-section">
  <div class="text-center mt-4">
    <p class="header">Sign Up</p>
    <div class="description">
      <p>
        Hello, Wellcome back !
      </p>
    </div>
    {% if message %}
    <div class="{{ message_tag }}" role="alert">
        {{ message }}
    </div>
    {% endif %}
    <form class="mt-5" action="{% url 'users:regist' %}" method="POST">
      {% csrf_token %}
      <div class="form-row text-left">
        <div class="form-group col-md-6">
          <label for="inputEmail4">First Name</label>
          <input required type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Last Name</label>
          <input required type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name">
        </div>
      </div>
      <div class="form-group text-left">
        <label for="inputAddress">Email</label>
        <input required type="email" class="form-control" id="email" name="email" placeholder="Email">
      </div>
      <div class="form-group text-left">
        <label for="inputAddress2">Phone Number</label>
        <input required type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Phone Number">
      </div>
      <div class="form-group text-left">
          <label for="inputAddress2">Password</label>
          <input required type="password" class="form-control" id="password" name="password" placeholder="Password">
      </div>
      <div class="form-group text-left">
          <label for="inputAddress2">Confirm Password</label>
          <input required type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password">
      </div>
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
  </div>
</section>
{% endblock %}